body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

#products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}   

#cart {
    margin-top: 20px;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
    padding: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

#cart-total {
    margin-top: 10px;
    font-weight: bold;
}
